<ion-header class="main-header remove">
    <ion-navbar>
        <ion-title>{{ 'My Complaints' | translate }}</ion-title>
    </ion-navbar>
    
    <!-- *ngIf="complaint_count!='0'" -->
    <ion-toolbar class="primary-bg">
        <div class="serach-filter">
            <ion-list style="width: 100%;">
                <ion-item>
                    <ion-input placeholder="{{ 'Search' | translate }}" type="text" name='search'  [(ngModel)]="filter.search" (ngModelChange)="getComplaintlist()"></ion-input>
                    <ion-select name="status" [(ngModel)]="filter.status"  (ngModelChange)="getComplaintlist(data.type)">
                        <ion-option value="">{{ 'All' | translate }}</ion-option>
                        <ion-option value="Pending">{{ 'Pending' | translate }}</ion-option>
                        <ion-option value="Closed">{{ 'Closed' | translate }}</ion-option>
                        <ion-option value="Cancel">{{ 'Cancel' | translate }}</ion-option>
                        <ion-option value="Part_Pending">{{ 'Part Pending' | translate }}</ion-option>
                        <ion-option value="Unit_Replacement">{{ 'Unit Replacement' | translate }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            
            <div class="found">
                <!-- <h3>{{complaint_list.length}}/{{complaint_count}}</h3> -->
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    
    
    <div *ngIf="!complaint_list" class="data-not">
        <img  src="assets/imgs/data-not-found.png">
    </div>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
</ion-refresher>

<div *ngIf="complaint_list" class="main-div"> 
    <div class="plumber-cam" >
        <div class="box"  *ngFor="let val of complaint_list; let i=index">
            <span class="alphabet">{{val.customerName ? val.customerName[0].toUpperCase():'' }} </span>
                <div class="title">
                    <h4 (click)="plumberDetail(val.id)"> {{val.customerName | titlecase}}</h4>
                    <p (click)="plumberDetail(val.id)">{{val.customerMobileNo}}</p>
                    <a class="phone-call" href="tel:{{val.customerMobileNo}}"><i class="material-icons">call</i></a>
                </div> 
                <div class="add mt15" (click)="plumberDetail(val.id)">
                    <div class="com">
                        <h3>{{ 'Address' | translate }}</h3>
                        <p>{{'COM' | translate}}#{{val.id}}</p>
                    </div>
                    
                    <p>{{val.address | titlecase}} {{val.city | titlecase}} {{val.district | titlecase}} {{val.state | titlecase}} {{val.pincode}}</p>
                </div>
                
                <div class="pro-12" (click)="plumberDetail(val.id)">
                    <h4>{{ 'Nature Problem' | translate }} :</h4>
                    <p>{{val.nature_problem | titlecase}}</p>
                </div>
                <div class="pro-12" (click)="plumberDetail(val.id)">
                    <h4>{{ 'Status' | translate}} :</h4>
                    <p class="{{val.status}}" *ngIf="val.status == 'Pending'">Pending</p>
                    <p class="{{val.status}}" *ngIf="val.status == 'Closed'">Closed</p>
                    <p class="{{val.status}}"  *ngIf="val.status == 'Cancel'">Cancel</p>
                    <p class="{{val.status}}" *ngIf="val.status == 'Part_Pending'">Part Pending</p>
                    <p class="{{val.status}}" *ngIf="val.status == 'Unit_Replacement'">Unit Replacement</p>
                </div>
        </div>
    </div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

</div>




</ion-content>

