
<ion-header class="main-header remove">
  <ion-navbar>
    <ion-title *ngIf="term == 'term_and_conditions'">{{ 'Terms & Condtion' | translate}}</ion-title>
	<ion-title *ngIf="term != 'term_and_conditions'">{{ 'Description' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<div class="conatiner padding16">
		<div class="img-box">
			<img src="{{url+terms_detail.offer_banner}}">
		</div>
	</div>

	<div *ngIf="term == 'term_and_conditions'" class="terms-text pt0">
		<p [innerHTML]="terms_detail.terms">{{terms_detail.terms}}</p>
	</div>
	<div *ngIf="term != 'term_and_conditions'" class="terms-text pt0">
		<p [innerHTML]="terms_detail.description">{{terms_detail.description}}</p>
	</div>

</ion-content>
