page-home {


.badge{
    position: absolute;
    top: -3px;
    left: 12px;
    border-radius: 100%;
    background: #f02121;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-md-primary{
    color: #ffffff!important;
}

}
