

<!-- Consumer Home Start-->
<ion-header  *ngIf="dbService.userStorageData.type == 'Customer'">
    <ion-toolbar class="white">
        <div class="company-logo">
            <img src="assets/imgs/logo.png">
        </div>
        
        <ion-buttons end class="mr16 icon-md-primary">
            <button ion-button icon-only  (click)="ShareApp()">
                <ion-icon name="share" ></ion-icon>
                <!-- <img src="assets/imgs/share.svg" class="h20"> -->
            </button>
        </ion-buttons>       
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="dbService.userStorageData.type == 'Customer'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="banner" *ngIf="banner.length">
        <!-- <img src="assets/imgs/banner.png">
        -->
        
        <ion-slides pager autoplay=3000>
            <ion-slide *ngFor="let list of banner; let i=index">
                <img src="{{imageUrl + list.banner}}">
            </ion-slide>
        </ion-slides>
    </div>
    
    <div class="banner" *ngIf="!banner.length">
        <img src="assets/imgs/banner.png">
    </div>
    
    <div class="product-option">
        <div class="main-box" (click)="goOnProductPage()">
            <div class="product-box">
                <img src="assets/imgs/package.svg">
            </div>
            <div class="heading">
                <h4>{{ 'Product Catalogue' | translate }}</h4>
            </div>
            <div class="point">
                <h3>{{product_count}}</h3>
            </div>
        </div>
        <div class="main-box" (click)="complaintHistory('Service')">
            <div class="product-box">
                <img src="assets/imgs/request.svg">
                
            </div>
            <div class="heading">
                <h4>{{ 'Service Request' | translate}} </h4>
            </div>
            <div class="point">
                <h3>{{complaint_count}}</h3>
            </div>
        </div>
        <div class="main-box" (click)="complaintHistory('Installation')">
            <div class="product-box">
                <img src="assets/imgs/server.svg">
            </div>
            <div class="heading">
                <h4>{{ 'Installation Request' | translate}} </h4>
            </div>
            <div class="point">
                <h3>{{installation_count}}</h3>
            </div>
        </div>
    </div>
    
    
    <div class="group-btn">
        <button ion-button color="primary" block round  (click)="goOnComplaintAdd('Service')" class="mb16">
            <i class="material-icons">
                build
            </i>
            {{ 'Add Service Request' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button color="primary" block round  (click)="goOnComplaintAdd('Installation')">
            <i class="material-icons">
                build
            </i>
            {{ 'Add Installation Request' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button color="primary" block round (click)="goToNewArrivals()">
            <i class="material-icons">
                new_releases
            </i> 
            {{ 'New Arrivals' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <!-- <button ion-button color="primary" block round  (click)="goTodigitalcat()" class="mb16">
            {{'Digital Catalogue' | translate}} 
            <ion-icon name="arrow-forward"></ion-icon>
        </button> -->
        <!-- <button ion-button color="primary" block round *ngIf="dbService.userStorageData.type != 'Plumber'" (click)="goToNearestDealers('Plumber')">
            {{ 'Nearest Plumbers' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
        </button> -->
        
        <button ion-button color="primary" block round (click)="goOnVideoPage()"> 
            <i class="material-icons">
                play_arrow
            </i>
            {{ 'Videos' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        
        <a ion-button color="primary" style="margin-bottom:16px !important" block round href="tel:7827966945">
            <i class="material-icons">
                support_agent
            </i>
            {{ 'Customer Care' | translate}}
            <ion-icon name="call"></ion-icon>
        </a>
    </div>
</ion-content>

<!-- Consumer Home End -->



<!-- Retailer Home Start-->
<ion-header  *ngIf="dbService.userStorageData.type == 'Retailer'" hidden>
    <ion-toolbar class="secondary-bg">
        <div class="company-logo">
            <img src="assets/imgs/logo.png">
        </div>
        
        <ion-buttons end class="mr16">
            <button ion-button icon-only  (click)="ShareApp()">
                <ion-icon name="share" color="primary"></ion-icon>
                
            </button>
        </ion-buttons>
        
        
        
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="dbService.userStorageData.type == 'Retailer'" hidden>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="banner" *ngIf="banner.length"> 
        <ion-slides pager autoplay=3000>
            <ion-slide *ngFor="let list of banner; let i=index">
                <img src=" {{imageUrl +list.banner}}">
            </ion-slide>
        </ion-slides>
    </div>
    
    <div class="banner" *ngIf="!banner.length">
        <img src="assets/imgs/banner.png">
    </div>
    
    <div class="product-option">
        <div class="main-box" (click)="goOnProductPage()">
            <div class="product-box">
                <img src="assets/imgs/package.svg">
            </div>
            <div class="heading">
                <h4>{{ 'Product Catalogue' | translate }}</h4>
            </div> 
            <div class="point">
                <h3>{{product_count}}</h3>
            </div>
            
        </div>
        <div class="main-box" (click)="complaintHistory('Service')">
            <div class="product-box">
                <img src="assets/imgs/request.svg">
                
            </div>
            <div class="heading">
                <h4> {{ 'Service Request' | translate}} </h4>
            </div>
            <div class="point">
                <h3>{{complaint_count}}</h3>
            </div>
        </div>
        <div class="main-box" (click)="complaintHistory('Installation')">
            <div class="product-box">
                <img src="assets/imgs/server.svg">
            </div>
            <div class="heading">
                <h4> {{ 'Installation Request' | translate}} </h4>
            </div>
            <div class="point">
                <h3>{{installation_count}}</h3>
            </div>
        </div>
    </div>
    
    
    <div class="group-btn mb40">
        <button ion-button color="primary" block round  (click)="add()" class="mb16" *ngIf="dbService.userStorageData.type == 'Retailer' && karigar_detail.status=='Verified'">
            {{ 'Add Complaint' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <!-- <button ion-button color="primary" block round *ngIf="!complaint_exist" (click)="goOnComplaintAdd('Service')" class="mb16">
            Add Service Request
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button color="primary" block round *ngIf="!complaint_exist" (click)="goOnComplaintAdd('Installation')">
            Add Installation Request
            <ion-icon name="arrow-forward"></ion-icon>
        </button> -->
        <button ion-button color="primary" block round (click)="goToNewArrivals()">
            <i class="material-icons">
                new_releases
            </i> 
            {{ 'New Arrivals' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button color="primary" block round *ngIf="dbService.userStorageData.type != 'Plumber'" (click)="goToNearestDealers('Plumber')">
            {{ 'Nearest Plumbers' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <!-- <button ion-button color="primary" block round  (click)=" SurveyList()" class="mb16">
            {{'Survey' | translate}} 
            <ion-icon name="arrow-forward"></ion-icon>
        </button> -->
        <i class="material-icons">
            support_agent
        </i>
        <a ion-button color="primary" block round href="tel:9899271892">
            {{ 'Customer Care' | translate }}
            <ion-icon name="call"></ion-icon>
        </a>
    </div>
</ion-content>

<!-- Retailer Home End -->


<!-- Plumber Home Start -->

<ion-header *ngIf="dbService.userStorageData.type == 'Plumber'">
    <ion-toolbar class="secondary-bg">
        <div class="company-logo">
            <img src="assets/imgs/logo.png">
        </div>
        
        
        
        <ion-buttons end class="mr10">
            <button ion-button icon-only  (click)="ShareApp()">
                <ion-icon name="share" color="white"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end class="mr10"  *ngIf="dbService.userStorageData.type == 'Plumber' && karigar_detail.status=='Verified'">
            <button ion-button icon-only (click)="scan()">
                <ion-icon name="qr-scanner" color="white"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end class="mr10">
            <button ion-button icon-only  (click)="goOnnotification()">
                <ion-icon name="notifications" color="white"></ion-icon>
                <span class="badge">{{notification_count}}</span>
            </button>
        </ion-buttons>
        
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="dbService.userStorageData.type == 'Plumber'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="banner">
        <ion-slides   *ngIf="offer_list.length">
            <ion-slide *ngFor="let list of offer_list; let i=index" (click)="goOnOffersPage(list.id)">
                <img src="{{imageUrl+list.offer_banner}}">
            </ion-slide>
        </ion-slides>
        <span *ngIf="!offer_list.length">
            <span  *ngIf="banner.length">
                <ion-slides pager autoplay=3000>
                    <ion-slide *ngFor="let list of banner; let i=index">
                        <img src="{{imageUrl+list.banner}}">
                    </ion-slide>
                </ion-slides>
            </span>
            <span  *ngIf="!banner.length">
                <ion-slides pager autoplay=3000>
                    <ion-slide>
                        <img src="assets/imgs/banner.png">
                    </ion-slide>
                </ion-slides>
            </span>
        </span>
        
    </div>
    
    <div class="home-pint" >
        <div class="profile-point ">
            <ul>
                <li>
                    <div class="pints">
                        <h3>{{today_point}}</h3>
                        <p>{{'Today' | translate}}</p>
                        <span>{{ 'POINTS' | translate }}</span>
                    </div>
                </li>
                <li>
                    <div class="pints">
                        <h3>{{last_point}}</h3>
                        <p>{{'Last 7 Days' | translate}}</p>
                        <span>{{ 'POINTS' | translate }}</span>
                    </div>
                </li>
                <li>
                    <div class="pints">
                        <!-- <h3>{{conInt(karigar_detail.balance_point) + conInt(karigar_detail.service_wallet_balance_points) + conInt(karigar_detail.referal_point_balance)}}</h3> -->
                        <h3>{{total_balence}}</h3>
                        <p>{{'Wallet Balance' | translate}}</p>
                        <span>{{'POINTS' | translate}}</span>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <div class="product-option">
        <div class="main-box" (click)="goOnProductPage()">
            <div class="product-box">
                <img src="assets/imgs/design.svg">
                
            </div>
            <div class="heading">
                <h4>{{'Our Products' | translate}}</h4>
            </div>
            <span>{{product_count ? product_count : 0}}</span>
        </div>
        <div class="main-box" (click)="goOnMyCamplaintsPage('Service')">
            <div class="product-box">
                <img src="assets/imgs/complaint.svg">
            </div>
            <div class="heading">
                <h4>{{'Service Request' | translate}}</h4>
            </div>
            <span>{{plumber_complaint}}</span>
        </div>
        <div class="main-box" (click)="goOnMyCamplaintsPage('Installation')">
            <div class="product-box">
                <img src="assets/imgs/complaint.svg">
            </div>
            <div class="heading">
                <h4>{{'Installation Request' | translate}}</h4>
            </div>
            <span>
                {{plumber_installation}}
            </span>
        </div>
    </div>
    
    <!--     
        <p *ngIf="offlineService.shouldStartSetUpProcess===true" style="text-align:center">Catalogue Offline Setup:</p>
        <progress-bar [progress]="offlineService.imagesDownloadProgress" [color]="'#488aff'" *ngIf="offlineService.shouldStartSetUpProcess===true">
        </progress-bar> -->
        
        <div class="pd-left-right16 mb16" (click)="goToVideosPage('Product Installation')">
            <div class="go-btn artificial">
                <div class="g-left">
                    <img src="assets/imgs/online-learning.svg">
                </div>
                <div class="g-right">
                    <div class="g-content">
                        <p>{{'Installation Videos' | translate}}</p>
                    </div>
                    <div class="g-count">
                        <i class="material-icons">arrow_right_alt</i>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="group-btn">
            <button ion-button color="primary" block round  (click)="goToNewArrivals()" class="mb16">
                <i class="material-icons">
                    new_releases
                </i> {{'New Arrivals' | translate}} 
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <!-- <button ion-button color="primary" block round  (click)="goTodigitalcat()" class="mb16">
                {{'Digital Catalogue' | translate}} 
                <ion-icon name="arrow-forward"></ion-icon>
            </button> -->
            <button ion-button color="primary" block round  (click)="checkin()" class="mb16">
                <i class="material-icons">
                    location_on
                </i>
                {{'Start Checkin' | translate}} 
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <!-- <button ion-button color="primary" block round  (click)=" SurveyList()" class="mb16">
                {{'Survey' | translate}} 
                <ion-icon name="arrow-forward"></ion-icon>
            </button> -->
            
            <a ion-button color="primary"  block round  href="tel:7827966945" >
                <i class="material-icons">
                    support_agent
                </i>
                {{'Customer Care' | translate}}
                <ion-icon name="call" class="fix-icon"></ion-icon>
            </a>
        </div>
        
        
        <div class="h50">&nbsp;</div>
    </ion-content>
    <!-- Plumber Home End -->
    